<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PPOL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PPOL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PsnNoteAPIServiceSoapBinding" />
                <binding name="DomainLocationAPIServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.planplusonline08.com/cxf/PsnNoteAPI"
                binding="basicHttpBinding" bindingConfiguration="PsnNoteAPIServiceSoapBinding"
                contract="PPOLService.PsnNoteAPI" name="PsnNoteAPIPort" />
            <endpoint address="http://www.planplusonline08.com/cxf/DomainLocationAPI"
                binding="basicHttpBinding" bindingConfiguration="DomainLocationAPIServiceSoapBinding"
                contract="DomainService.DomainLocationAPI" name="DomainLocationAPIPort" />
        </client>
    </system.serviceModel>
    <userSettings>
        <PPOL.Properties.Settings>
            <setting name="Account" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="PPOLURL" serializeAs="String">
                <value />
            </setting>
        </PPOL.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PPOL.Properties.Settings>
            <setting name="AttachToPPOL_com_archtelecom_www_DataPush" serializeAs="String">
                <value>http://www.archtelecom.com/DataPush/DataPush.asmx</value>
            </setting>
            <setting name="AttachToPPOL_WebReference_ArchTelecomAPIService"
                serializeAs="String">
                <value>http://216.130.241.141/cxf/ArchTelecomAPI</value>
            </setting>
            <setting name="AttachToPPOL_OppService_OppNoteAPIService" serializeAs="String">
                <value>http://localhost:8080/cxf/OppNoteAPI</value>
            </setting>
            <setting name="AttachToPPOL_UserGroupService_UserGroupAPIService"
                serializeAs="String">
                <value>http://localhost:8080/cxf/UserGroupAPI</value>
            </setting>
            <setting name="AttachToPPOL_ContactService_PsnAPIService" serializeAs="String">
                <value>http://localhost:8080/cxf/PsnAPI</value>
            </setting>
            <setting name="AttachToPPOL_UserService_UserAPIService" serializeAs="String">
                <value>http://localhost:8080/cxf/UserAPI</value>
            </setting>
            <setting name="PPOL_Outlook_Plugin_ProjectService_PrjAPIService"
                serializeAs="String">
                <value>http://localhost:8080/cxf/PrjAPI</value>
            </setting>
            <setting name="PPOL_Outlook_Plugin_TaskService_TaskAPIService"
                serializeAs="String">
                <value>http://localhost:8080/cxf/TaskAPI</value>
            </setting>
            <setting name="PPOL_Outlook_Plugin_AppointmentService_ApptAPIService"
                serializeAs="String">
                <value>http://localhost:8080/cxf/ApptAPI</value>
            </setting>
            <setting name="PPOL_Outlook_Plugin_DomainService_DomainLocationAPIService"
                serializeAs="String">
                <value>http://localhost:8080/cxf/DomainLocationAPI</value>
            </setting>
            <setting name="PPOL_Outlook_Plugin_MiscService_MiscAPIService"
                serializeAs="String">
                <value>http://localhost:8080/cxf/MiscAPI</value>
            </setting>
            <setting name="PlanPlus_Online_Email_Connector_PPOLService_PsnNoteAPIService"
                serializeAs="String">
                <value>http://localhost:8080/cxf/PsnNoteAPI</value>
            </setting>
        </PPOL.Properties.Settings>
    </applicationSettings>
</configuration>